{% extends 'base.html.twig' %}

{% block body %}

    {{ pagerfanta(indexer.paginator) }}

    <hr/>

    {% for resultsPerPage in [5, 25, 50, 100] %}
        <a href="{{ indexer.pathPerPage(resultsPerPage) }}" class="btn btn-outline-secondary btn-sm {{ resultsPerPage == indexer.paginator.maxPerPage ? 'active' }}">{{ resultsPerPage }}</a>
    {% endfor %}

    <hr/>

    <table border="1">
        <tr>
            <td><a href="{{ indexer.sorter.path( 'title' ) }}">{{ indexer.sorter.iconClass('title') }} Tytuł</a></td>
            <td>Ilość zdjęć</td>
            <td><a href="{{ indexer.sorter.path( 'date' ) }}">{{ indexer.sorter.iconClass('date') }} Data</a></td>
            <td></td>
        </tr>
        {% for gallery in indexer.results %}
            <tr>
                <td>{{ gallery.title }}</td>
                <td>{{ gallery.photos | length }}</td>
                <td>{{ gallery.date != NULL ? gallery.date | date('Y-m-d') : '-' }}</td>
                <td><a href="{{ path('gallery_show', {id: gallery.id}) }}">Pokaż</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
