{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('gallery_index') }}">Wróć do galerii</a>

    <hr/>

    {{ pagerfanta(indexer.paginator) }}

    <hr/>

    {% for resultsPerPage in [5, 25, 50, 100] %}
        <a href="{{ indexer.pathPerPage(resultsPerPage) }}" class="btn btn-outline-secondary btn-sm {{ resultsPerPage == indexer.paginator.maxPerPage ? 'active' }}">{{ resultsPerPage }}</a>
    {% endfor %}

    <hr/>

    <table border="1">
        <tr>
            <td>Numer</td>
            <td><a href="{{ indexer.sorter.path( 'url' ) }}">{{ indexer.sorter.iconClass('url') }} Zdjęcie</a></td>
            <td>Data</td>
        </tr>
        {% for photo in indexer.results %}
            <tr>
                <td>{{ indexer.firstPageIndex + loop.index }}</td>
                <td><img style="width:150px;height:auto;" src="{{ photo.url }}"/></td>
                <td>{{ photo.gallery.date != NULL ? photo.gallery.date | date('Y-m-d') : '-' }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
